.fade-enter-active, .fade-leave-active {
    transition: opacity .2s
}
.fade-enter, .fade-leave-active {
    opacity: 0
}
*{
    margin: 0;
    padding:0
}
p{
    margin:0;
    padding:0
}
ul,li{
  list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.activecss{
    background-color: rgb(50, 65, 87);
}
.activecss>a{
    color: rgb(32, 160, 255) !important;
}
.leftallapp{
    display: inline-block;
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    float: left;
    width: 200px;
    height:  100% ;
    overflow-x: hidden;
    min-height: 100%;
    background-color: #242f42;
    font-size: 14px;
    scrollbar-width: none; /*兼容火狐*/
    -ms-overflow-style: none; /*兼容IE10+*/
    z-index:2001
}

.clear{ clear:both} 
.leftallapp::-webkit-scrollbar{
    display: none;
}

/* 长选择 */
.leftall{
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    height:calc(100% - 70px);
    width: 100%;
    color:#8A8B99;
    display: inline-block;
    overflow-x: hidden;
	touch-action: pan-y;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}
.leftall::-webkit-scrollbar{
    display: none;
}
.leftall>li{
    width: 100%;
}
.leftall>li>div:hover{
    color: rgb(32, 160, 255);
    background-color: rgb(50, 65, 87);
}

.leftall>li{
    position: relative;
    width: 200px;
}
.leftall>li>div{
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    padding-left:14px;
    justify-content: space-between;
}
.leftall>li div img{
    width: 15px;
    height: 15px;
    margin-right: 11px;
    vertical-align: middle;
}
.leftall>li div>p>span{
    vertical-align: middle;
}
.leftall>li div>img{
    margin: 20px 10px 0 0;
}
.leftall>li ul li{
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    height: 46px;
    line-height: 46px;
    padding-left:50px;
    width: 100%;
}
.leftall>li ul li a{
    color: #8A8B99;
}
.leftall>li ul li:hover{
    background-color: rgb(50, 65, 87);
}
.leftall>li ul li:hover  a {
    color: rgb(32, 160, 255);
}
@media only screen and (max-width: 1040px) {
    .leftallapp{
        width: 40px;
        -webkit-transition: all 0.3s ease-out; /* Safari */
        transition: all 0.3s ease-out;
    }
    .leftall:hover +.leftalert{
        -webkit-transition: all 0.3s ease-out; /* Safari */
        transition: all 0.3s ease-out;
        display: block;
    }
    .leftalert:hover{
        display: block;
    }
    .leftall>li>div:hover{
        color: rgb(32, 160, 255);
        background-color: rgb(50, 65, 87);
    }
    
}
@media only screen and (min-width: 1040px) {
    .leftallapp{
        width: 200px;
        -webkit-transition: all 0.3s ease-out; /* Safari */
        transition: all 0.3s ease-out;
    }
}


/* 浮框 */
.leftalert{
    position: fixed;
    width: 150px;
    left: 40px;
    top: 70px;
    bottom: 0;
    color:#8A8B99;
    background-color: #242f42;
    display: none;
    border-top-right-radius:10px;
    height: calc(100% - 70px);
    overflow-x: hidden;
}

.leftalert::-webkit-scrollbar{
    display: none;
}
.leftalert>li{
    position: relative;
    width: 100%;
}
.leftalert>li>div:hover{
    color: rgb(32, 160, 255);
    background-color: rgb(50, 65, 87);
}
.leftalert>li>div:first-child:hover{
    border-top-right-radius:10px;
}
.leftalert>li>div:last-child:hover{
    border-bottom-right-radius:10px;
}
.leftalert>li>div{
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    padding-left:14px;
    justify-content: space-between;
}
.leftalert>li div img{
    width: 15px;
    height: 15px;
    margin-right: 11px;
    vertical-align: middle;
}
.leftalert>li div>p>span{
    vertical-align: middle;
}
.leftalert>li div>img{
    margin: 20px 10px 0 0;
}
.leftalert>li ul:last-child li{
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    height: 46px;
    line-height: 46px;
    padding-left:50px;
    width: 100%;
}
.leftalert>li ul:last-child li a{
    color:#8A8B99;
}
.leftalert>li ul:last-child li:hover{
    background-color: rgb(50, 65, 87);
}
.leftalert>li ul:last-child li:hover  a {
    color: rgb(32, 160, 255);
}